.form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 0.5em;
}

.radiogroup { 
    display: flex;
    justify-content: start;
    align-items: center;
    gap: .3rem;
}

.checkBoxGroup { 
    display: flex;
    justify-content: start;
    align-items: center;
    gap: .3rem;
}
